body{
    background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-blue-gradient-birthday-background-balloon-picture-image_1324305.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
}
header{
    font-weight: bold;
    font-size:60px;
    font-style: italic;
    font-family: Comic Sans MS;
    position:absolute; left: 100px; top:20px    
}
#content .content-section{
    width: 600px ;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 80;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}

#content .about-text{
    font-size: 30;
    margin-top: 4px;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Amatic SC', cursive;;

}
#content .sub-about-text{
    font-family: 'Lobster', cursive;
    font-size: 15;
    font-style: italic;
    opacity: 0.6;
}
